<configuration>
  <configSections>
    <!--Spring.Net-->
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core, Version=1.2.0.20313, Culture=neutral, PublicKeyToken=65e474d141e25e07"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core, Version=1.2.0.20313, Culture=neutral, PublicKeyToken=65e474d141e25e07"/>
      <!--typeAlias-->
      <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core, Version=1.2.0.20313, Culture=neutral, PublicKeyToken=65E474D141E25E07"/>
    </sectionGroup>
    <section name="SpringAppSettings" type="System.Configuration.NameValueSectionHandler"/>
    <!--Common Logging-->
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging , Version=1.2.0.0, Culture=neutral, PublicKeyToken=af08829b84f0328e"/>
    </sectionGroup>
    <!--Log4net-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <section name="CompositeUI" type="Microsoft.Practices.CompositeUI.Configuration.SettingsSection, Microsoft.Practices.CompositeUI, Version=1.0.51205.0, Culture=neutral, PublicKeyToken=a3e20fbe194442ab"/>
  </configSections>
  <appSettings>
    <!--Download Module Url Address-->
    <add key="ModuleRepositoryAddress" value=".\"/>
    <!--Application Setting Information file-->
    <add key="ApplicationSettingAddress" value="http://pcubetest01.home.e-kmall.com:81/Eland.GBFW.Dev.Web/Config/\.xml"/>
    <!--Application MenuLocation TOP/LEFT/TOPLEFT-->
    <add key="MenuLocation" value="TOPLEFT"/>
    <!--Application Title-->
    <add key="ApplicationTitle" value="Eland.GBFW Application"/>
    <!--Resource Service Setting file-->
    <add key="ResourceAssembly" value="Eland.GBFW.CommonResource.dll"/>
    <add key="ResourceClass" value="MessageResource"/>
    <!--DControl Configuration Setting file-->
    <add key="DControlContext" value="assembly://Eland.GBFW.Win.Common.DControl/Eland.GBFW.Win.Common.DControl/DControlConfig.xml"/>
    <!--Skin File-->
    <add key="SkinContext" value="assembly://Eland.GBFW.Win.Startup/Eland.GBFW.Win.Startup.Config/CustomSkin.xml"/>
    <!--<add key="IsLogin" value="false"/>
	  <add key="LoginId" value="LID001"/>
	  <add key="UserId" value="1"/>
		<add key="MenuProgramId" value="187"/>-->
    <!--LoginForm Size-->
    <add key="LoginFormWidth" value="821"/>
    <add key="LoginFormHeight" value="511"/>
  </appSettings>
  <!--Log4net-->
  <log4net configSource="log4net.config"/>
  <!--Spring.Net-->
  <SpringAppSettings>
    <!--<add key="url" value="http://203.234.164.88/Eland.GBFW.Web" />-->
    <!--<add key="url" value="http://pcubetest01.home.e-kmall.com:81/Eland.GBFW.Dev.Web" />-->
      <add key="url" value="http://localhost:8909/Eland.GBFW.Web"/>
  </SpringAppSettings>
  <spring>
    <context>
      <resource uri="assembly://Eland.GBFW.Win.Startup/Eland.GBFW.Win.Startup.Config.Admin/Abstract.xml"/>
      <resource uri="assembly://Eland.GBFW.Win.Startup/Eland.GBFW.Win.Startup.Config.Admin/Advice.xml"/>
      <resource uri="assembly://Eland.GBFW.Win.Startup/Eland.GBFW.Win.Startup.Config/CAB.xml"/>
      <resource uri="assembly://Eland.GBFW.Win.Startup/Eland.GBFW.Win.Startup.Config/Remote.xml"/>
      <!--<resource uri="assembly://Eland.GBFW.Win.Startup/Eland.GBFW.Win.Startup.Config/WebService.xml" />-->
    </context>
    <!--Set type for TestTool-->
    <typeAliases>
      <alias name="TypeTestInfo" type="Eland.GBFW.Win.TestTool.TestInfo, Eland.GBFW.Win.TestTool"/>
      <alias name="TypeTestIOData" type="Eland.GBFW.Win.TestTool.TestIOData, Eland.GBFW.Win.TestTool"/>
    </typeAliases>
  </spring>
  <!--<CompositeUI>
    <visualizer>
      <add type="Formular.Win.Cab.Visualization.FormVisualizer, Formular.Win.Cab.Visualization, Version=1.0.2.0, Culture=neutral, PublicKeyToken=a3e20fbe194442ab"  />
    </visualizer>
  </CompositeUI>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- The LogViewer assembly is necessary for the EntLib ObjectBuilder. -->
      <!--<probing privatePath="Libraries;Infrastructure;Modules\LGCNS.LogViewer" />-->
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
    <webServices>
      <soapExtensionTypes>
        <add type="Eland.GBFW.Win.Shell.Advice.ClientSoapExtension, Eland.GBFW.Win.ShellBase"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http">
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
